@import url("../style/animated.css");


.header {
    background-image: url("../images/16.png");
    background-repeat: no-repeat;
    width: 1400px;
    height: 1024px;
    background-size: 1400px 1024px;
    margin: 100px auto;
}

.header__container {
    position: relative;
}

.seus {
    width: 790px;
    height: 520px;
    position: absolute;
    top: 180px;
    left: 50px;
    padding: 40px 56px;
    border-radius: 24px;
    background: linear-gradient(124.42deg, rgba(0, 0, 0, 0.36) 5.12%, rgba(0, 0, 0, 0.0675) 102.99%);


    display: flex;
    gap: 40px;
    flex-direction: column;
}

.seus h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
    color: #FFFFFF;
}

.seus span {
    font-size: 64px;
    font-weight: 700;
    color: #9EFFFF;
}

.seus p {
    font-size: 26px;
    font-weight: 400;
    line-height: 35.52px;
    color: #FFFFFF;
}

.seus button {
    width: 182px;
    height: 66px;
    padding: 24px 48px;
    border-radius: 36px;
    background-color: #63E1E1;
    box-shadow: 0px 0px 20px 0px #63E1E140;
    backdrop-filter: blur(4px);
    border: linear-gradient(90.99deg, rgba(255, 255, 255, 0.8) 1.2%, rgba(255, 255, 255, 0.44) 100%);


    font-size: 24px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
}

.header-bottom {
    width: 1, 312px;
    height: 171px;
    position: absolute;
    top: 791px;
    left: 64px;
    padding: 24px 56px;
    border-radius: 32px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    border: 0.5px solid #F5F5F5;
    backdrop-filter: blur(4px);
    border: linear-gradient(90.99deg, rgba(255, 255, 255, 0.8) 1.2%, rgba(255, 255, 255, 0.44) 100%);
    
    

    display: flex;
    align-items: center;
    gap: 92px;
}

.flow {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.flow h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32.78px;
    color: #FFFFFF;
}

.flow p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    color: #FFFFFF;

}




a {
    font-size: 40px;
    color: #FFFFFF;
    line-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* RESPONSIVE DIZAYN BOLIMI */

@media (max-width: 1100px) {
    a {
        display: flex;
        justify-content: center;
    }

    .header__container .seus {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    a{
        text-align: center;
        display: flex;
        justify-content: center;
    }
}
